*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    height: 100vh;


    background: linear-gradient(90deg, rgb(255, 0, 140, 0.3) 0%,rgb(0, 221, 255, 0.3) 50%, rgb(47, 255, 0, 0.3) 100%), url(https://images.pexels.com/photos/33217723/pexels-photo-33217723.jpeg);
    background-size: cover; 


    /* background-image: url(/pexels-ben-b.jpg);
    /* o cover é para ajustar a imagem na tamanho da tela */
    /* background-size: cover; */
    /* para não repetir a imagem */
    /* background-repeat: no-repeat; */ 
} 

/* .sol{
    height: 100px;
    width: 100px;
    background: radial-gradient(circle, rgba(255, 234, 0, 0.700), rgb(255, 217, 0,0.700), rgb(255, 166, 0, 0.700), rgb(255, 123, 0, 0.700));
    border-radius: 50%;
    box-shadow: rgba(255, 166, 0, 0.616) 10px;
    position: absolute;
    left: 800px;
    top: 30px;
} */

/* .lua{
    height: 30px;
    width: 30px;
    position: relative;
}


.n1{
    height: 70px;
    width: 70px;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
}

.n2{
    height: 70px;
    width: 70px;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    left: 100px;
}

.n3{
    height: 70px;
    width: 70px;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    left: 200px;
} */