/* estilização do cabeçalho */
.header__container{
    background-image: var(--header-gradient);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light);

}

/*  */
.grid__container{
    height: 92vh;
    background-image: var(--container-gradient);
    display: grid;

    /* Função repeat com repetições automatica */
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);

    /* Alinhar no eixo horizontal */
    justify-items: center;
    /* Alinhar no eixo vertical */
    align-items: center;

    justify-content: center;
    align-content: center;

    gap: 10px;
    padding: 20px 0;
}

.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.box1{
    background-image: var(--salgados-gradient);
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
}

.box1__item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box1__item--descricao{
    padding: 20px;
    text-align: justify;
}

.box2{
    background-color: var(--frutas-bg);
    grid-column: 3/4;
    grid-row: 1/3;
}

.box3{
    background-color: var(--doces-bg);
}

.box4{
    background-color: var(--sucos-bg);
    grid-column: 2/3;
    grid-row: 2/4;
}

.box5{
    background-color: var(--lanches-bg);
}

.box6{
    background-color: var(--pizzas-bg);
}


