/* Reset básico e configuração de fonta padrão */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrt", sans-serif;
    text-decoration: none;
    list-style: none;
}


/* Estilização das imagens dentro das boxes */
.box img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 100%;
    border: 4px solid var(--text-dark);

}