/* Media  Queries para Layout Responsivo */

/* Tablet e Mobile (até 1024px) */

@media(max-width:1200px){
    /* Adapta o grid para 2 colunas */
    .grid_container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        padding: 30px;
        height: auto;
        gap: 25px;
    }

    /* Ajusta as dimenções das bases */
    .box{
        width: 100%;
        height: auto;
        min-height: 250px;
    }

    /* Mantem a box de salgados ocupando duas colunas */
    .box1, .box6{
        grid-column: 1/3;
        width: 100%;
    }

    .box2, .box4{
        grid-column: auto;
        grid-row: auto;
        height: auto;
    }
}

@media(max-width: 768px){
    .grid_container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        padding: 20px;
        height: auto;
        gap: 20px;
    }

    /* Ajusta as dimenções das boxes para ocupar  */
    .box{
        width: 100%;
        height: auto;
        min-height: 200px;
    }
    
}