*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(173, 245, 166)0%, rgb(166, 255, 248)50%, rgb(166, 176, 255)100%);
}

img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 4px double rgb(255,255,255);
}

.grid-conteiner{
    /* Espaço disponível para o grid */
    width: 100vw;
    height: 100vh;

    display: grid;

    /* Função repeat com repetições automatica */
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);

    /* Alinhar no eixo horizontal */
    justify-items: center;
    /* Alinhar no eixo vertical */
    align-items: center;

    justify-content: center;
    align-content: center;
}

.box{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.box1{
    background-color:deeppink;
    /* onde a cor deve começar na linha 1 e deve terminar na linha 3 */
    grid-column: 1/3;
    /* Cada grid no padrão tem 200px ent colocamos 400px para ocupar 2x o espaço dele */
    width: 400px;
}

.box2{
    background-color:darkorchid;
    grid-row: 1/3;
    grid-column: 3/4;
    height: 400px;
    
}

.box3{
    background-color:rgb(224, 224, 24);
}

.box4{
    background-color: rgb(214, 6, 6);
    grid-row: 2/4;
    grid-column: 2/3;
    height: 400px;
}

.box5{
    background-color: white;
}

.box6{
    background-color: rgb(235, 122, 8);
}